body{ margin-left: 18%; margin-right: 20%;}
.navbar { margin-left: 20%; margin-right: 20%; }

#shopping-cart {margin-bottom:30px;}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}

.product-item div{text-align:center;	margin:10px;}
.product-price {    
	color: #005dbb;
  font-weight: 600;
}

.clear-float{clear:both;}