body{ margin-left: 18%; margin-right: 20%;}
.navbar { margin-left: 20%; margin-right: 20%; }

#shopping-cart {margin-bottom:30px;}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}

.product-item div{text-align:center;	margin:10px;}
.product-price {    
	color: #005dbb;
  font-weight: 600;
}

.product-image { width:100%; background-color:#FFF;}
.product-img { width:100%; height: auto; margin-left: 0; }
.clear-float{clear:both;}


/* testing classes */

.black { background-color: black; }

.yellow { background-color: yellow; }

.green { background-color: green; }

.red { background-color: rgb(204, 3, 3); }

.blue { background-color: blue; }

.purple { background-color: rgb(162, 0, 255); }